@charset "utf-8";
/*   Only For Mobile    */
@media only screen and (max-width: 768px){

  body{
    margin:0px;
    padding:0px;
  }
  .container-top{
    background-color:#EAF6F6;
    color:#66BFBF;
    text-align:center;
    position:relative;
  }
  .container-top h1{
    margin:0 auto 0 auto;
    padding:100px 0 0 0;
    font-family:'Tangerine', cursive;
    font-size: 5.625rem;
  }
  .container-top h2{
    font-size:1.5rem;
    margin:0 auto 0 auto;
    padding-bottom:50px;
  }
  .cloud1{
    display:none;
    position:absolute;
    top:25px;
    right:450px;
  }
  .cloud2{
    display:none;
    position:absolute;
    left:360px;
  }
  .mountain{
    display:none;
  }

  /*   Style for Container-middle    */
  .container-middle{
    text-align:center;
  }
  .profile-pic{
    display:block;
    height:200px;
    width:200px;
    margin:50px auto auto auto;
  }
  .container-middle h2{
    color:#66BFBF;
    font-size: 2.5rem;
    font-family:'Roboto', sans-serif;
  }
  .container-middle h3{
    color:#11999E;
    font-size:1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .container-middle hr{
    border:0;
    border-top:5px;
    border-style:dotted;
    border-color:gray;
    margin:80px auto 80px auto;
    width:3%;
  }
  .container-middle p{
    color:#40514E;
    font-size:1rem;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    line-height:2;
  }
  .hello{
    margin:100px auto 100px auto;
    width:50%;
  }
  .skillimage1{
    display:none;
    margin-right:30px;
    float:left;
    width:25%;
  }
  .skillimage2{
    display:none;
    margin-left:30px;
    float:right;
    width:25%;
  }
  .skill-row{
    margin:100px auto 100px auto;
    text-align:left;
    width:50%;
  }
  .field{
    margin:50px auto;
    width:30%;
  }
  .button{
    margin:50px auto auto;
    background-color:#11999E;
    border:0;
    border-radius:15px;
    color:white;
    font-size:1.8rem;
    height:60px;
    -webkit-text-shadow:2px 2px 2px black;
    -moz-text-shadow:2px 2px 2px black;
    text-shadow:2px 2px 2px black;
    width:200px;
  }
  .button:hover{
    background:green;
    -webkit-box-shadow: 0 5px 5px 0 gray;
    -moz-box-shadow: 0 5px 5px 0 gray;
    box-shadow: 0 5px 5px 0 gray;
    font-size:2.0rem;
    -webkit-text-shadow:5px 4px 4px rgba(219,45,67,0.8);
    -moz-text-shadow:5px 4px 4px rgba(219,45,67,0.8);
    text-shadow:5px 4px 4px rgba(219,45,67,0.8);
  }

  /*    Style for Container-Bottom    */
  .container-bottom{
    background-color:#66BFBF;
    color:white;
    height:auto;
    text-align:center;
  }
  .links{
    padding:40px;
  }
  .links a{
    margin-top:20px;
    color:#11999E;
    display:block;
    font-size:1.8rem;
    text-decoration:none;
    width:10%;
  }

}
@media only screen and (min-width:769px) and (max-width:1200px){
  .links a{
    margin-top:20px;
    display:block;
  }
  .container-bottom{
    height:auto;
  }
}
